@media (min-width: 1400px) {
  .slogan{
    margin: 0;
  }
  .bench-table{
    margin: 0;
  }
  .swing-other{
    margin: 0;
  }
  .communication{
    margin: 20px 0;
  }
  .info{
    margin: 0;
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 1024px) {
  .logo{
    img{
      width: 150px;
    }
  }
  .nav-menu__link{
    font-size: 15px;
    margin: 0 5px;
  }
  .info{
    p{
      font-size: 15px;
    }
    img{
      width: 20px;
    }
  }
  .login{
    a{
      font-size: 15px;
    }
    img{
      width: 20px;
    }
  }
  .slogan {
    h1, h2{
      font-size: 50px;
    }
  }
  .check{
    img{
      width: 40px;
    }
    h1{
      font-size: 40px;
    }
  }
  .main-goods {
    h1{
      font-size: 40px;
    }
  }
  .bench, .table, .swing, .other{
    h1{
      font-size: 30px;
      top: 30px;
    }
  }
  .contact{
    p a{
      font-size: 10px;
    }
    img{
      height: 15px;
      margin: 3px 5px 3px 0;
    }
  }
  .info-footer {
    h1{
      font-size: 15px;
    }
    img{
      height: 15px;
      margin: 3px 5px 3px 0;
    }
    p{
      font-size: 10px;
    }
  }
}
@media (min-width: 768px) {
  .blur{
    filter: none;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 768px) {
  body.lock{
    overflow: hidden;
  }
  .container{
    padding: 0 20px;
  }
  .header-burger{
    display: flex;
  }
  .logo{
    margin: 0 auto;
    img{
      max-width: 100%;
      margin: 10px auto;
    }
  }
  .slogan{
    h1,h2 {
      font-size: 40px;
    }
  }
  .main-goods img:hover{
    transform: none;
  }
  .info, .login{
    display: none;
  }
  .nav{
    position: fixed;
    align-items: start;
    justify-content: start;
    padding: 50px 0 0 15px;
    top: 0;
    left: -1000px;
    background-color: #1b1e21;
    width: 25%;
    height: 100%;
    margin: 0;
    z-index: 4;
    transition: 0.3s;
    overflow: auto;
  }
  .nav.active{
    left: 0;
  }
  .nav-menu{
    display: block;
  }
  .nav-menu__link{
    font-size: 25px;
    margin: 10px 5px;
    color: white;
    &:after{
      background: white;
    }
  }
  .bench-table{
    flex-direction: column;
  }
  .swing-other{
    flex-direction: column;
  }
  .bench, .table, .swing, .other {
    margin: 10px 0;
  }
  .info-footer {
     h1{
       font-size: 20px;
     }
     img{
       height: 20px;
       margin-right: 5px;
     }
     p{
       font-size: 15px;
     }
   }
}

@media (max-width: 560px) {
  .container{
    padding: 0 15px;
  }
  .nav{
    width: 40%;
  }
  .slogan{
    h1 {
      display: none;
    }
    h2{
      font-size: 30px;
    }
  }
  .check img{
    width: 30px;
  }
  .advantages{
    padding: 0;
  }
  .main-goods {
    h1{
      font-size: 20px;
    }
  }
  .info-footer {
    .location-footer, .email-footer{
      display: none;
    }
    h1{
      font-size: 15px;
    }
    img{
      height: 20px;
      margin-right: 5px;
    }
    p{
      font-size: 10px;
    }
  }
  .contact{
    p a{
      font-size: 10px;
    }
    img{
      height: 15px;
      margin: 2px 2px 0 0;
    }
  }
  .logo-footer{
    margin-top:10px ;
  }
}

@media (max-width: 425px) {
  .slogan{
    h2{
      font-size: 20px;
    }
  }
  .check{
    img{
      width: 20px;
      padding-right: 5px;
    }
  }
  .bench, .table, .swing, .other {
    & img:hover{
      transform: none;
    }
  }
}

@media (max-width: 425px) {
  .nav{
    width: 100%;
  }
}