@import "../../node_modules/normalize.css/normalize";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$main-fonts: 'Oswald', sans-serif;
$menu-fonts: 'Scada', sans-serif;

h1{
  font-family: $main-fonts;
  margin: 0;
  //margin: 0;
  line-height: 2;
}
.header-goods{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.logo-goods{
  display: flex;
  img{
    width: 200px;
  }
}
.nav-goods{
  display: flex;
  width: 100%;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
}
.nav-goods-ul{
  display: flex;
  list-style: none;
}
.nav-goods__link{
  margin: 0 0 0 10px;
  color: white;
  font: 20px $menu-fonts;
}
.main-content{
  margin: 77px 0;
  background-color: #f8f8f8;
}
.all-goods{
  display: flex;
  width: 100%;
}
.filter{
  display: flex;
  background-color: white;
  flex-direction: column;
  height: 300px;
  margin: 5px 5px;
  min-width: 20%;
  border: 1px #7abaff solid;
  h2{
    //margin: 0;
    text-align: center;
    font: 20px $menu-fonts;
    margin: 10px 0 0 0;
  }
  &:hover{
    box-shadow: 0 0 5px rgba(#7abaff, .5);
  }
}

//////////checkbox////////////
.checkbox{
  position: relative;
  margin: 5px 0 5px 20px;
}
.my_checkbox{
  position: absolute;
  -webkit-appearance: none;
}
.checkbox__label{
  font-size: 20px;
  color: black;
  padding-left: 30px;

  &:before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px #adb5bd solid;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &:after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/checkbox-white.png") no-repeat;
    //background: url("../img/check-blue.svg") no-repeat;
    background-size: 16px 16px ;
    background-position: center center;
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 2;
    opacity: 0;
    transition: opacity .1s linear;
  }
}
.my_checkbox:hover + .checkbox__label:before{
  //border-color: #0b76ef;
  border: 2px #49bcff solid;
  //background-color: #86d2ff;
}

.my_checkbox:checked + .checkbox__label:before{
  border-color: #0b76ef;
  background-color: #0b76ef;
}
.my_checkbox:checked + .checkbox__label:after{
  opacity: 1;
}

.good{
  display: flex;
  flex-wrap: wrap;
  //background-color: white;
  min-width: 80%;
}
.cart-product{
  flex: 1 1 calc(33.33% - 30px);
  max-width: 33.33%;
  margin: 5px 5px;
  border: 1px #7abaff solid;
  position: relative;
  overflow: hidden;
  h2{
    opacity: 0;
    text-align: center;
    color: black;
  }
  img{
    width: 100%;
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    transition: all .2s ease;
  }
  &:hover::before {
    background-color: rgba(0,0,0,.2);
    h2{
      display: block;
    }
  }
  &:hover{
    h2{
      opacity: 1;
    }
    box-shadow: 0 0 5px rgba(#7abaff, .5);
    .btn{
      bottom: 0;
    }
  }
}
.btn{
  position: absolute;
  left: 0;
  bottom: -15%;
  width: 100%;
  height: 15%;
  //transition: 1s;
  transition: .2s;
  background-color: rgba(#7abaff, 1);
  border: none;
  font-size: 20px;
  color: white;
}
.price{
  //content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 50px;
  background-color: #7abaff;
  border-radius: 0 0 0 10px;
  span{
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
  }
  img{
    width: 30px;
  }

}


